*{
    margin: 0%;
    padding: 0%;
}

.container{
    background-color: #031d44;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #031d44;
    padding: 10px 20px;
    color: #eef4ed;
   
}

.nav-list {
   display: flex;
   gap:35px;
   margin-right:3% ;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   text-decoration: none;
   list-style-type: none;
}

.nav-list a {
    color: #eef4ed;
    font-size: 17px;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #eef4ed;
    filter: drop-shadow(0 0 7px #C7B96F);
}


.menu-bar {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: white;

}

@media screen and (max-width: 500px) {
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #031d44;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 25px;
    }

    .nav-list.active {
        display: flex;
    }
    .nav-list li {
        color: antiquewhite;
        
    }

    .menu-bar {
        display:block;

 
    }
 
}

.content{
    background-color: #eef4ed;
}

.section1{
    background-color: #eef4ed;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    color: #031d44;
    padding: 50px 0px 50px 0px;
}

.section1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.section2{
    padding: 20px;
    background-color: #eef4ed;
    padding-bottom: 50px;
}

.section2 table{
    border: 3px black solid;
    padding: 0.2rem;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.section2 tr, th, td{
    border: 3px solid black;
    text-align: center;
}

.logout a{
    text-decoration:none; 
    color:white;  
    font-size:1.2rem; 
    border:2px solid black; 
    border-radius:30px; 
    padding:10px; 
    background-color:black;
    font-family:Arial, Helvetica, sans-serif;
}

.logout{
    background-color: #eef4ed;
    padding-left: 1300px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}


.footer{
    background-color: #031d44;
    width: 100%;
    text-align: center;
    padding: 25px 0px 25px 0px;
    color: white;
    display: flex;
    
}


.footer p{
    margin-left: 36%;
    font-size: 15px;
    color: #eef4ed;
}
.footer li{
       display:flex;
       gap: 10px;
       position: relative;
       margin-left: 130px;
       font-size: 17px;
   
}

.footer li i{
    color: #eef4ed;
}
.footer li a:hover{
    color:#C7B96F;
    filter: drop-shadow(0 0 5px #C7B96F);
}
