
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #eef4ed;
    color: #031d44;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #031d44;
    padding: 10px 20px;
    color: #eef4ed;
   
}

.nav-list {
   display: flex;
   gap:35px;
   margin-right:3% ;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   text-decoration: none;
   list-style-type: none;
}

.nav-list a {
    color: #eef4ed;
    font-size: 17px;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #eef4ed;
    filter: drop-shadow(0 0 7px #C7B96F);
}


.menu-bar {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: white;

}

@media screen and (max-width: 500px) {
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #031d44;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 25px;
    }

    .nav-list.active {
        display: flex;
    }
    .nav-list li {
        color: antiquewhite;
        
    }

    .menu-bar {
        display:block;

 
    }
 
}

.forget-form {
    background-color: #efefef;
    max-width: 40%;
    margin: 9% auto;
    padding: 30px 40px 30px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .forget-form h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
    margin-bottom: 6px;
  }

  .forget-form p {
    text-align: center;
    font-size: 1rem;
    padding-top: 6px;
    margin-bottom: 30px;
  }
  
  .forget-form form {
    display: grid;
    gap: 14px;
  }
  
  .forget-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .forget-form input{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid white;
  }
  
  .forget-form .btn-submit {
    background-color: #031d44;
    color: #eef4ed;
    border: none;
    width: 20%;
    margin-top: 30px;
    margin-left: 220px;
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forget-form .btn-submit:hover {
    background-color: #0056b3;
  }
  
  .footer{
    background-color: #031d44;
    width: 100%;
    text-align: center;
    padding: 25px 0px 25px 0px;
    color: #eef4ed;
    display: flex;
    
}

.footer p{
    margin-left: 36%;
    font-size: 15px;
    color: #eef4ed;
}
.footer li{
       display:flex;
       gap: 10px;
       position: relative;
       margin-left: 130px;
       font-size: 17px;
   
}

.footer li i{
    color: #eef4ed;
}
.footer li a:hover{
    color:#C7B96F;
    filter: drop-shadow(0 0 5px #C7B96F);
}
  