
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eef4ed;
  color: #333;
  line-height: 1.6;
}


header {
  
  color: #031d44;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.service {
  background: #eef4ed;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.service .example img, 
.service .example video {
  max-width: 100%;
  border-radius: 8px;
}

.service h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #C7B96F;
}

.service p {
  margin: 10px 0;

  font-weight: bold;
}

button.read-more {
  padding: 10px 15px;
  background-color: #031d44;
  color: #eef4ed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.read-more:hover {
  background-color: #0056b3;
}

.details-section {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background: #eef4ed;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(80, 79, 79, 0.1);
}

.details-section h2 {
  color: #031d44;
  font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
margin-left: 38%;
}

.details-section img,
.details-section video {
  max-width: 100%;
  margin: 10px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #031d44;
  padding: 10px 20px;
  color: #eef4ed;
 
}


.nav-list {
  display: flex;
 gap:35px;
 margin-right:3% ;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 text-decoration: none;
 list-style-type: none;
}

.nav-list a {
  color:  #eef4ed;
  font-size: 17px;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #eef4ed;
  filter: drop-shadow(0 0 7px #C7B96F);
}


.menu-bar {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;

}

@media screen and (max-width: 500px) {
  .nav-list {
      display: none;
      flex-direction: column;
      background-color: #031d44;
      position: absolute;
      top: 60px;
      right: 20px;
      width: 200px;
      border-radius: 5px;
      overflow: hidden;
      padding-left: 25px;
  }

  .nav-list.active {
      display: flex;
  }
  .nav-list li {
      color: antiquewhite;
      
  }

  .menu-bar {
      display:block;


  }

}
.footer{
  background-color: #031d44;
  width: 100%;
  text-align: center;
  padding: 25px 0px 25px 0px;
  color: white;
  display: flex;
  
}

.footer p{
  margin-left: 36%;
  font-size: 15px;
  color: #eef4ed;
}
.footer li{
     display:flex;
     gap: 10px;
     position: relative;
     margin-left: 130px;
     font-size: 17px;
 
}

.footer li i{
  color: #eef4ed;
}
.footer li a:hover{
  color:#C7B96F;
  filter: drop-shadow(0 0 5px #C7B96F);
}
.details-section img {

  margin-left: 25%;

}
.details-section video{
  margin-left :28%;

}


